body  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(118, 145, 253), rgb(0, 21, 107));
    min-height: 850px;
}

h5{
    margin-top: 30px;
}